* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'TooMuchInk';
}


.indice_navbar {
  background-color: rgba(255,255,255,0.7) !important;
}

.indice_navbar div,
.indice_navbar {
  background-color: transparent !important;
}


.indice_contenedor_seccion_descrp {
  padding: 1%;
}

.indice_contenedor_seccion_boton {
  padding: 1%;
}

.indice_contenedor_seccion_boton a {
  width: 0px;
}
